 
		table{
			border-collapse: collapse;
			width: 93%;
            margin: auto;
			border: 1px solid black;
		}
		th,td{
			padding: 4px;
			border: 1px solid black;
		}
		.btn-group .button{
			 
			text-decoration: none;
			font-size: 12px;
			margin-left: -1px;
			margin-top: -1px;
			cursor: pointer;
			display: inline-block;
			float: left;
			width: 68px;
			height: 30px;
			background-color: white;
			border-radius: 6px ; 
			color: black;
			border: 2px solid #008CBA;
		}
		.col{
			background-color: #9eeaea;
		}
        * {
        box-sizing: border-box;
        }

        body {
          background-color: #f1f1f1;
        }

        #regForm {
          background-color: #ffffff;
          margin: 100px auto;
          font-family: Raleway;
          padding: 40px;
          width: 70%;
          min-width: 300px;
          margin-top: 10px;
        }

        h1 {
          text-align: center;  
        }

        input {
          padding: 10px;
          width: 100%;
          font-size: 17px;
          font-family: Raleway;
          border: 1px solid #aaaaaa;
        }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
          background-color: #ffdddd;
        }

        /* Hide all steps by default: */
        .tab {
          display: none;
        }

        .popbutton {
          background-color: #4CAF50;
          color: #ffffff;
          border: none;
          padding: 10px 20px;
          font-size: 17px;
          font-family: Raleway;
          cursor: pointer;
        }

       .popbutton:hover {
          opacity: 0.8;
        }

        #prevBtn {
          background-color: #bbbbbb;
        }

        /* Make circles that indicate the steps of the form: */
        .step {
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbbbbb;
          border: none;  
          border-radius: 50%;
          display: inline-block;
          opacity: 0.5;
        }

        .step.active {
          opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
          background-color: #4CAF50;
        }
